---
import { SITE } from '../../config.ts';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostPreview from '../../components/PostPreview.astro';
import authorData from '../../data/authors.json';

export function getStaticPaths() {
	const allPosts = Astro.fetchContent<MarkdownFrontmatter>('../post/*.md');
	let allAuthorsUnique = [...new Set(allPosts.map((p) => p.author))];
	return allAuthorsUnique.map((author) => ({ params: { author }, props: { allPosts } }));
}

interface MarkdownFrontmatter {
	date: number;
	image: string;
	author: string;
}

const { allPosts } = Astro.props;
const { params, canonicalURL } = Astro.request;

/** filter posts by author, sort by date */
const posts = allPosts.filter((post) => post.author === params.author).sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
const author = authorData[posts[0].author];

const title = `All articles by ${author.name} | ${SITE.title}`;
const description = `These are all the articles written by ${author.name}`;
---

<BaseLayout {title} {description} image={posts[0].image} {canonicalURL}>
	<div class="flex items-center mb-10 justify-center">
		<img class="h-16 w-16 rounded-full mr-3" src={author.image} alt="" />
		<h1 class="text-2xl sm:text-3xl text-center">Articles by {author.name} <small class="text-base hover:underline text-molecule"><a target="_blank" href={author.website}>&#8594; Website</a></small></h1>
	</div>

	<div class="space-y-12 sm:space-y-20">
		{posts.map((post) => <PostPreview post={post} author={author} image={post.image} />)}
	</div>
</BaseLayout>