---
import slugify from "slugify";
import { SITE } from '../config';
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import MainContent from '../components/MainContent.astro';
import Footer from '../components/Footer.astro';
import authorData from '../data/authors.json';

const { content } = Astro.props;
const title = `${content.title} | ${SITE.title}`
let canonicalURL = Astro.url;
const author = authorData[content.author]

function formatDate(date) {
	return new Date(date).toUTCString().replace(/(\d\d\d\d) .*/, '$1'); // remove everything after YYYY
}
---

<html lang="en">
	<head>
		<title>{title}</title>
		<MainHead {title} {content.description} image={content.image} {canonicalURL} />
	</head>

	<body>
		<div class="min-h-screen flex flex-col">
			<Nav />
			<div class="flex grow justify-center page-content-padding">
				<MainContent>
					<article>
						<h1 class="text-2xl sm:text-3xl md:text-4xl font-bold">{Astro.props.content.title}</h1>

						<div class="flex items-center mt-1.5 justify-between">
							<div class="flex items-center text-gray-700 ">
								<a href={`/authors/${content.author}`}><img src={author.image} class="h-6 w-6 sm:h-8 sm:w-8 rounded-full mr-2"></a>
								<a class="text-sm sm:text-base hover:underline font-bold" href={`/authors/${content.author}`}>{author.name}</a>
								<span class="px-1">&#8729;</span>
								<time class="text-sm sm:text-base date" datetime={content.date}>{formatDate(content.date)}</time>
							</div>
						</div>

						{content.image &&
							<img src={content.image} class="mt-4">
						}

						<div class="text-gray-800 font-serif prose prose-lg xl:prose-xl prose-a:text-molecule mt-6 max-w-none"><slot /></div>

						<div class="border-t border-gray-200 mt-8 pt-1.5">
							<span class="text-base text-gray-600 font-bold">Tags:</span>
							{content.tags.map((tag) => (
								<span class="tag"><a class="text-molecule hover:underline" href={`/tags/${slugify(tag, {lower: true, strict: true})}`}>{tag}</a></span>
							))}
						</div>
					</article>
				</MainContent>
			</div>
			<Footer />
		</div>
	</body>
</html>

<style lang="scss">
.tag ~ .tag::before{
	content: ", ";
}
</style>